<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<h1>list all todos</h1>
<table class="table">
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Created_On</td>
        <td>status</td>
        <td>modified_at</td>
        <td>User</td>
    </tr>
    {%for todo in todos%}
    <tr>
        <td>{{todo.Title}}</td>
        <td>{{todo.Description}}</td>
        <td>{{todo.Created_On}}</td>
        <td>{{todo.status}}</td>
        <td>{{todo.modified_at}}</td>
        <td>{{todo.user}}</td>
        <td><a href="{%url 'delete' todo.id%}">delete</a></td>
        <td><a href="{%url 'update' todo.id%}">update</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>