<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<h1>Create your todos</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 td" >
            <br>
            <form action="" method="post">
            {%csrf_token%}

            {{form.as_p}}
            <input type="submit">
            </form></div>
        <div class="col-4"></div>
    </div>
</body>
</html>